@model IEnumerable<DynamicVCardGenerator.Models.VCard>

@{
    ViewData["Title"] = "vCard Sonuçları";
}

<h2>Oluşturulan vCard'lar</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>İsim</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Adres</th>
            <th>vCard Dosyası</th>
            <th>QR Kod</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vCard in Model)
        {
            <tr>
                <td>@vCard.Firstname @vCard.Surname</td>
                <td>@vCard.Email</td>
                <td>@vCard.Phone</td>
                <td>@vCard.City, @vCard.Country</td>
                <td>
                    <a href="~/vCards/@vCard.Firstname_@vCard.Surname_@vCard.Id.vcf" download class="btn btn-success">
                        İndir
                    </a>
                </td>
                <td>
                    <img src="@Url.Action("GenerateQRCode", "VCard", new { vCardContent = vCard.ToVCardFormat() })" alt="QR Code" width="100" height="100" />
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Index", "VCard")" class="btn btn-primary">Yeni vCard Oluştur</a>
